<launch>
    <!-- Standalone launcher to visualize the robot model. -->
    <include file="$(find scout_description)/launch/description.launch" >
    </include>

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find scout_viz)/rviz/model.rviz" /> 

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

<!-- 
    <arg name = "model" default = "scout_v2"/>
    
    <include file="$(find scout_description)/launch/$(arg model).launch" >
        <arg name = "model" default = "$(arg model)" />
    </include>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
        <arg name = "filters" default = "pointcloud" />
    </include>
-->

</launch>