<?xml version="1.0"?>

<!-- 
  5/5/2023
  - Jaerock: Add Intel RealSense2 D43i 
-->

<robot name="realsense2_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_nominal_extrinsics" default="false" />
  <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro"/>

  <xacro:sensor_d435i parent="base_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <origin xyz="0.325 0.0 0.237701" rpy="0 0 0"/>
  </xacro:sensor_d435i>

</robot>

