<?xml version="1"?>
<launch>
  <arg name="camera_model" default="d435i"/> 
  <arg name="database_path" default="$(find scout_navigation)/maps/rtabmap_$(arg camera_model)_$(arg map_id).db"/>
  <arg name="publish_tf_map"          default="true"/>
  <arg name="wait_for_transform" default="0.2"/>
  <arg name="map_id" default="" />  <!-- use location name -->

  <arg name="args"  default="--delete_db_on_start"/>

  <!-- all points below 20 cm are ground -->
  <!-- all points above 20 cm and below 2 m are obstacles -->
  <!-- Use simple passthrough to filter the ground instead of normals segmentation -->
  <arg name="grid" default="
    --Grid/MaxGroundHeight 0.2       
    --Grid/MaxObstacleHeight 2       
    --Grid/NormalsSegmentation false"/>

  <!-- group ns="rtabmap" -->
  <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
      <arg name="args" value="$(arg args) $(arg grid) --Optimizer/GravitySigma 0.3"/>
      <arg name="rgb_topic" value="/camera/color/image_raw"/>
      <arg name="depth_topic" value="/camera/aligned_depth_to_color/image_raw"/>
      <arg name="camera_info_topic" value="/camera/color/camera_info"/>
      <arg name="depth_camera_info_topic" value="/camera/depth/camera_info"/>
      <arg name="approx_sync" value="false"/>
      <arg name="wait_imu_to_init" value="true"/>
      <arg name="imu_topic" value="/rtabmap/imu"/>

      <arg name="frame_id" value="base_link"/>
      <!-- inputs -->
      <remap from="odom" to="/odom"/>
      <!-- output -->
      <!--remap from="grid_map" to="/map"/-->

      <arg name="localization" value="false"/>
      <arg name="database_path" value="$(arg database_path)"/>

      <arg name="rtabmapviz" value="true"/>
      <arg name="rviz" value="false"/>
  </include>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find scout_navigation)/rviz/rtabmap.rviz" />
  <!-- /group -->

</launch>
