<?xml version="1"?>
<!--
\file      rtabmap_navigation.launch
\authors   Jaerock Kwon <jrkwon@umich.edu>
\copyright Copyright (c) 2023, Jaerock Kwon, All rights reserved.

Note:
This has been tested only inside the simulated environment. With a "real" realsense camera, you may need to
change following:

 * depth_topic:  <- (simulated realsense)  /camera/depth/image_rect_raw
                 <- (real realsense)       /camera/aligned_depth_to_color/image_raw
 * imu_topic:    <-  /rtabmap/imu

Redistribution and use in source and binary forms, with or without modification, are permitted provided that
the following conditions are met:
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the
   following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the 
   following disclaimer in the documentation and/or other materials provided with the distribution.
 * Neither the name of Clearpath Robotics nor the names of its contributors may be used to endorse or promote
   products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WAR-
RANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, IN-
DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->

<launch>
  <arg name="camera_model" default="d435i"/> 
  <arg name="database_path" default="$(find scout_navigation)/maps/rtabmap_$(arg camera_model)_$(arg map_id).db"/>
  <arg name="publish_tf_map"          default="true"/>
  <arg name="wait_for_transform" default="0.2"/>
  <arg name="map_id" default="" />  <!-- use location name -->

  <arg name="args"  default=""/>

  <!-- all points below 20 cm are ground -->
  <!-- all points above 20 cm and below 2 m are obstacles -->
  <!-- Use simple passthrough to filter the ground instead of normals segmentation -->
  <arg name="grid" default="
    --Grid/MaxGroundHeight 0.2       
    --Grid/MaxObstacleHeight 2       
    --Grid/NormalsSegmentation false"/>

  <!-- <remap from="/imu/data" to="/rtabmap/imu"/> -->

  <!-- group ns="rtabmap" -->
  <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
      <arg name="args" value="$(arg args) $(arg grid) --Optimizer/GravitySigma 0.3"/>
      <arg name="rgb_topic" value="/camera/color/image_raw"/>
      <arg name="depth_topic" value="/camera/depth/image_rect_raw"/> <!-- /camera/aligned_depth_to_color/image_raw"/ -->
      <arg name="camera_info_topic" value="/camera/color/camera_info"/>
      <arg name="depth_camera_info_topic" value="/camera/depth/camera_info"/>
      <arg name="approx_sync" value="false"/>
      <arg name="wait_imu_to_init" value="true"/>
      <!-- arg name="imu_topic" value="/rtabmap/imu"/ --> 

      <arg name="frame_id" value="base_link"/>

      <!-- inputs -->
      <remap from="/odometry/filtered" to="/odom"/>
      <!-- output -->
      <!--remap from="grid_map" to="/map"/-->

      <arg name="localization" value="true"/>
      <arg name="database_path" value="$(arg database_path)"/>

      <arg name="rtabmapviz" value="true"/>
      <arg name="rviz" value="false"/>
  </include>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find scout_navigation)/rviz/rtabmap.rviz" />
  <!-- /group -->

  <arg name="move_base" default="true"/>

  <group if="$(arg move_base)">
    <remap from="map" to="/rtabmap/proj_map"/>
    <include file="$(find scout_navigation)/launch/include/move_base.launch" />
  </group>
</launch>
