<?xml version="1.0"?>
<launch>

  <arg name="joy_dev" default="$(optenv SCOUT_JOY_DEVICE /dev/input/js0)" />
  <arg name="joystick" default="true" />
  <!-- Select joystick interface: is_scout_control -->
  <!--   true:  joystick_translaotr and scout_control_translator: -->  
  <!--   false: teleop_twist_joy: -->
  <arg name="is_scout_control" default="true"/>

  <group ns="joy_teleop">

    <group unless="$(optenv SCOUT_LOGITECH 1)" >
      <rosparam command="load" file="$(find scout_control)/config/teleop_ps4.yaml" />
    </group>

    <group if="$(optenv SCOUT_LOGITECH 1)" >
      <rosparam command="load" file="$(find scout_control)/config/teleop_logitech.yaml" />
      <param name="joy_node/dev" value="$(arg joy_dev)" />
    </group>

    <node pkg="joy" type="joy_node" name="joy_node" />

    <group if="$(arg is_scout_control)">
      <node pkg="scout_control" type="scout_control_translator.py" name="scout_control_translator" />
      <node pkg="scout_control" type="joystick_translator.py" name="joystick_translator" />
    </group>
    <group unless="$(arg is_scout_control)">
      <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy"/>
    </group>

  </group>

</launch>
