<launch>

    <arg name = "model" default = "scout_v2"/>

    <arg name="can" default="1" />
    <arg name="port_name" value="can$(arg can)" />
    <arg name="simulated_robot" value="false" />
    <!-- arg name="model_xacro" default="$(find scout_description)/urdf/$(arg model).xacro" / -->
    <arg name="odom_topic_name" default="odom" />
    <!-- arg name="is_scout_mini" default="true" / -->
    <arg name="pub_tf" default="false" />  <!-- odom tf -->
    <!-- arg name="joy" default="false"/ -->
    <arg name="realsense_enabled" default="$(optenv SCOUT_REALSENSE_ENABLED 1)" />
    <arg name="ydlidar_enabled" default="$(optenv SCOUT_YDLIDAR_ENABLED 0)" />

    <include file="$(find scout_base)/launch/base.launch">
        <arg name="port_name" default="$(arg port_name)" />
        <arg name="simulated_robot" default="$(arg simulated_robot)" />
        <arg name="odom_topic_name" default="$(arg odom_topic_name)" />
	    <arg name="pub_tf" default="$(arg pub_tf)"/>
    </include>

    <group if="$(arg realsense_enabled)">
        <include file="$(find scout_bringup)/launch/include/realsense.launch">
            <arg name="camera" value="camera" />
        </include>
    </group>

    <group if="$(arg ydlidar_enabled)">
        <include file="$(find ydlidar_ros_driver)/launch/lidar.launch" />
    </group>


    <!-- group if="$(arg joy)">
        <include file="$(find teleop_twist_joy)/launch/teleop.launch" >
            <arg name = "joy_config" default = "xbox" />
        </include>
    </group -->

    <!-- include file="$(find scout_description)/launch/display_$(arg model).launch" >
        <arg name = "model" default = "$(arg model)" />
    </include -->

    <!-- node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_link" args="0.325 0.0 0.237701 0.0 0.0 0.0 /base_link /camera_link 10" / -->
    <!-- node pkg="tf" type="static_transform_publisher" name="base_link_to_imu_link" args="0.325 0.0 0.237701 0.0 0.0 0.0 /base_link /imu_link 10" / --> 
    <!-- 
        <node pkg="tf" type="static_transform_publisher" name="odom_to_base_link" args="0.0 0.0 0.0 0.0 0.0 0.0 /odom /base_link 10" />
        <node pkg="tf" type="static_transform_publisher" name="map_to_odom_link" args="0.0 0.0 0.0 0.0 0.0 0.0 /map /odom 10" />
    -->

</launch>
