<launch>
    <param name="orchard_geom" command="$(find xacro)/xacro --inorder '$(find scout_gazebo)/urdf/orchard_geometry.urdf.xacro'" />

    <!-- gen_pose: true for e2e data_collection and run_neural -->
    <arg name="gen_pose" default="false"/> 
    <arg name="rviz" default="true"/>
    <arg name="platform" default="scout" />
    <arg name="x" default="2.816"/>
    <arg name="y" default="32.18"/>
    <arg name="z" default="0.162"/>
    <arg name="roll" default="0.066482" />
    <arg name="pitch" default="0.017475" />
    <arg name="yaw" default="0.038139" />

    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />
    <!-- arg name="world_name" default="$(find scout_gazebo)/worlds/actually_empty_world.world" / -->
    <arg name="world_name" default="$(find scout_gazebo)/worlds/orchard_barriers.world" />
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="debug" value="0" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="use_sim_time" value="$(arg use_sim_time)" />
      <arg name="headless" value="$(arg headless)" />
      <arg name="world_name" value="$(arg world_name)" />
    </include>

    <!-- move these two nodes to "teleop_joystick.launch "-->
    <!-- node pkg="scout_control" type="scout_control_translator.py" name="scout_control_translator" / -->
    <!-- node pkg="scout_control" type="joystick_translator.py" name="joystick_translator" /-->
    
    <!-- Run two joy nodes publishing to the same topic, just to cover two possible joystick locations -->
    <node pkg="joy" type="joy_node" name="joy_node0">
      <param name="joy_dev" value="$(optenv SCOUT_JOY_DEVICE /dev/input/js0)"/>
    </node>

    <group if="$(arg gen_pose)">
      <node pkg="fake_localization" type="fake_localization" name="fake_localization" />
    </group>

    <node name="orchard_gazebo_spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -model orchard_geom -param orchard_geom -x 0 -y 0 -z 0 -Y 0" />

    <include file="$(find scout_gazebo)/launch/spawn_$(arg platform).launch">
      <arg name="x" value="$(arg x)"/>
      <arg name="y" value="$(arg y)"/>
      <arg name="z" value="$(arg z)"/>
      <arg name="yaw" value="$(arg yaw)"/>
    </include>

    <group if="$(arg rviz)">
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(find scout_viz)/rviz/robot.rviz" />
    </group>

</launch>
