<launch>

  <arg name="world_name" default="worlds/empty.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/> <!-- world_name is wrt GAZEBO_RESOURCE_PATH environment variable -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node pkg="scout_control" type="scout_control_translator.py" name="scout_control_translator" />
  <node pkg="scout_control" type="joystick_translator.py" name="joystick_translator" />
  <!-- Run two joy nodes publishing to the same topic, just to cover two possible joystick locations -->
  <node pkg="joy" type="joy_node" name="joy_node0">
    <param name="joy_dev" value="$(optenv SCOUT_JOY_DEVICE /dev/input/js0)"/>
  </node>

  <node pkg="fake_localization" type="fake_localization" name="fake_localization">
    <!-- remap from="base_pose_ground_truth" to="/$(arg vehicle)/base_pose_ground_truth"/ -->
  </node>

  <include file="$(find scout_gazebo)/launch/spawn_scout.launch">
  </include>

</launch>
